#cento {
    height: 540px;
    width: 800px;
    margin-top: 50px;
    margin-left: 270px;
    border: 1px solid #2d302e;
    background: #f4f5f4;
    border-radius: 12px
}

#cen {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    text-shadow: black;
    font-family: sans-serif;
    background-color: rgb(148, 151, 160);
    border-radius: 12px;
}

#tex {
    -webkit-text-stroke: 1px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}